[Unit]
Description = Portainer Container Service

Wants    = network.target
Requires = docker.service
After    = docker.service

[Service]
Type = simple

ExecStartPre = /usr/sbin/iptables -I INPUT 1 -p tcp --dport 9000 -j ACCEPT
ExecStart = /usr/bin/docker start -a Portainer

ExecStop  = /usr/bin/docker stop -t 2 Portainer
ExecStop = /usr/sbin/iptables -D INPUT -p tcp --dport 9000 -j ACCEPT

[Install]
WantedBy = multi-user.target
