---
- name: Install zookeeper packages
  yum:
    name:
      - java-11-openjdk-headless
      - zookeeper
    state: installed

- name: Enable and Start zookeeper
  systemd:
    name: zookeeper
    enabled: "{{ local_services | selectattr('name', 'equalto', 'zookeeper') | map(attribute='enabled') | bool }}"
  notify: Restart zookeeper

- name: Configure firewall ports
  firewalld:
    port: "{{ item }}/tcp"
    permanent: true
    state: enabled
    immediate: true
    zone: work
  loop:
    - 2181
  when: groups['zookeeper'] | difference(groups['kafka']) | count > 0
...
