---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
  labels:
    component: kafka
spec:
  selector:
    matchLabels:
      component: kafka
  podManagementPolicy: "Parallel"
  serviceName: "kafka-broker"
  replicas: {{ groups['sensors'] | length }}
  template:
    metadata:
      labels:
        component: kafka
    spec:
      containers:
      - name: kafka
        image: {{ kafka_image }}:{{ kafka_version }}
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: {{ kafka_cpu_request }}
        ports:
        - containerPort: {{ kafka_port }}
          name: transport
        volumeMounts:
          - name: kafka-data
            mountPath: "{{ kafka_data_path }}"
          - name: kafka
            mountPath: {{ kafka_home }}/config/server.properties
            subPath: server.properties
        env:
        - name: ZOOKEEPER_REPLICAS
          value: "{{ zookeeper_replicas }}"
        - name: ZOOKEEPER_PORT
          value: "{{ zookeeper_port }}"
        - name: KAFKA_PORT
          value: "{{ kafka_port }}"
        - name: KAFKA_LISTENERS
          value: "PLAINTEXT://:9092"
        - name: JMX_PORT
          value: "{{ kafka_jmx_port }}"
        - name: KAFKA_HEAP_OPTS
          value: "-Xmx{{ kafka_jvm_memory }}g -Xms{{ kafka_jvm_memory }}g"
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: component
                operator: In
                values:
                - kafka
            topologyKey: "kubernetes.io/hostname"
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kafka
                operator: In
                values:
                - "true"
              - key: role
                operator: In
                values:
                - "sensor"
      volumes:
      - name: kafka
        configMap:
          name: kafka
  volumeClaimTemplates:
  - metadata:
      name: kafka-data
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: rbd
      resources:
        requests:
          storage: {{ kafka_pv_size }}Gi

...