{% if remote %}
{% for host in groups['remote-sensors'] %}
{% set kafka_app_name = 'kafka-' + hostvars[host].inventory_hostname_short %}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ kafka_app_name }}
  labels:
    component: {{ kafka_app_name }}
spec:
  ports:
  - port: 9092
  selector:
    component: {{ kafka_app_name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ kafka_app_name }}-broker
  labels:
    component: {{ kafka_app_name }}
spec:
  selector:
    component: {{ kafka_app_name }}
  ports:
  - name: transport
    protocol: TCP
    port: {{ kafka_port }}
    targetPort: {{ kafka_port }}
  clusterIP: None
{% endfor %}
{% endif %}
{% if not remote %}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ kafka_app_name }}
  labels:
    component: {{ kafka_app_name }}
spec:
  ports:
  - port: 9092
  selector:
    component: {{ kafka_app_name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ kafka_app_name }}-broker
  labels:
    component: {{ kafka_app_name }}
spec:
  selector:
    component: {{ kafka_app_name }}
  ports:
  - name: transport
    protocol: TCP
    port: {{ kafka_port }}
    targetPort: {{ kafka_port }}
  clusterIP: None
{% endif %}