---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  labels:
    component: kafka
spec:
  ports:
  - port: 9092
  selector:
    component: kafka
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-broker
  labels:
    component: kafka
spec:
  selector:
    component: kafka
  ports:
  - name: transport
    protocol: TCP
    port: {{ kafka_port }}
    targetPort: {{ kafka_port }}
  clusterIP: None