%YAML 1.1
---

# Versions to pin in current release
elastic:
  major_version: 8
  minor_version: 7
  patch: 1
  suffix: "x"
zeek:
  major_version: 5
  minor_version: 2
  patch: 0
suricata:
  major_version: 6
  minor_version: 0
  patch: 11
zookeeper:
  major_version: 3
  minor_version: 4
  patch: 14
kafka:
  major_version: 2
  minor_version: 3
  patch: 0

http_proxy: "{{ lookup('env','http_proxy') }}"
https_proxy: "{{ lookup('env', 'https_proxy') }}"

rock_version: "{{ lookup('file', '/etc/rocknsm/rock-version', errors='ignore') | default('2.6.0') }}"

elastic_version: "{{ elastic.major_version }}.{{ elastic.suffix }}"
rock_online_install: false
rock_enable_testing: false
rock_disable_offline_repo: false
rock_sysctl_file: /etc/sysctl.d/10-ROCK.conf
rock_data_dir: "{{ default_mount | default('/data')}}"
rock_conf_dir: /etc/rocknsm
rock_config: "{{ rock_conf_dir }}/config.yml"
rocknsm_dir: /opt/rocknsm
rock_data_user: root
rock_data_group: root
rock_monifs: "{{ ansible_interfaces | difference(['lo', ansible_default_ipv4.interface | default('lo') ])| list }}"
rock_mgmt_nets: [ "0.0.0.0/0" ]
rock_cache_dir: /srv/rocknsm/support
rock_debug: "{{ lookup('env', 'DEBUG') }}"

#### Retention Configuration ####
elastic_close_interval: 15
elastic_delete_interval: 60
kafka_retention: 168
suricata_retention: 3
zeek_log_retention: 7
zeek_stats_retention: 0

# Feature options - Don't flip these unless you know what you're doing
# These control if the service is installed

rock_services:
  - name: zeek
    quota_weight: 1
    installed: true
    enabled: true
    version: "{{ zeek.major_version}}.{{ zeek.minor_version }}.{{ zeek.patch }}"
  - name: stenographer
    quota_weight: 8
    installed: true
    enabled: true
    version: 1:0-2
  - name: docket
    quota_weight: 0
    installed: true
    enabled: true
    version: 1.0.3
  - name: suricata
    quota_weight: 2
    installed: true
    enabled: true
    version: "{{ suricata.major_version}}.{{ suricata.minor_version }}.{{ suricata.patch }}"
  - name: elasticsearch
    quota_weight: 4
    installed: true
    enabled: true
    version: "{{ elastic.major_version}}.{{ elastic.minor_version }}.{{ elastic.patch }}"
  - name: kibana
    quota_weight: 0
    installed: true
    enabled: true
    version: "{{ elastic.major_version}}.{{ elastic.minor_version }}.{{ elastic.patch }}"
  - name: zookeeper
    quota_weight: 0
    installed: true
    enabled: true
    version: "{{ zookeeper.major_version}}.{{ zookeeper.minor_version }}.{{ zookeeper.patch }}"
  - name: kafka
    quota_weight: 4
    installed: true
    enabled: true
    version: "{{ kafka.major_version}}.{{ kafka.minor_version }}.{{ kafka.patch }}"
  - name: lighttpd
    quota_weight: 0
    installed: true
    enabled: true
    version: 1.4.54
  - name: filebeat
    quota_weight: 0
    installed: true
    enabled: true
    version: "{{ elastic.major_version}}.{{ elastic.minor_version }}.{{ elastic.patch }}"
  - name: logstash
    quota_weight: 0
    installed: true
    enabled: true
    version: "{{ elastic.major_version}}.{{ elastic.minor_version }}.{{ elastic.patch }}"

rocknsm_package_list:
  - jq
  - tcpreplay
  - tcpdump
  - bats
  - python3-policycoreutils
  - htop
  - vim
  - git
  - tmux
  - nmap-ncat
  - logrotate
  - firewalld
  - chrony
  - python3-libselinux

http_tls_crt: /etc/pki/tls/certs/http_tls_crt.pem
http_tls_pub: /etc/pki/tls/certs/http_tls_pub.pem
http_tls_key: /etc/pki/tls/private/http_tls_key.pem
http_tls_combined: /etc/pki/tls/private/httpd-combined.pem
http_tls_dhparams: /etc/pki/tls/misc/http_tls_dhparams.pem

docket_web_pemfile: "{{ http_tls_combined }}"
docket_web_dhparams: "{{ http_tls_dhparams }}"

epel_baseurl: http://download.fedoraproject.org/pub/epel/$releasever/$basearch/
epel_gpgurl: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-7
elastic_baseurl: https://artifacts.elastic.co/packages/{{ elastic_version }}/yum
elastic_gpgurl: https://artifacts.elastic.co/GPG-KEY-elasticsearch

rocknsm_baseurl: https://packagecloud.io/rocknsm/2_5/el/7/$basearch
rocknsm_srpm_baseurl: https://packagecloud.io/rocknsm/2_5/el/7/SRPMS
rocknsm_testing_baseurl: https://copr-be.cloud.fedoraproject.org/results/@rocknsm/testing/epel-7-$basearch/
rocknsm_gpgurl: https://packagecloud.io/rocknsm/2_5/gpgkey
rocknsm_local_baseurl: file:///srv/rocknsm
rock_offline_gpgcheck: 0
zeek_user: zeek
zeek_group: zeek
zeek_data_dir: "{{ rock_data_dir }}/zeek"
zeek_prefix: /opt/zeek
zeek_sysconfig_dir: /opt/zeek/etc
zeek_site_dir: /opt/zeek/share/zeek/site
zeek_cpu: "{{ (ansible_processor_vcpus|int // 2) if (ansible_processor_vcpus|int <= 16) else 8 }}"
zeek_rockscripts_repo: https://github.com/rocknsm/rock-scripts.git
zeek_rockscripts_branch: master
zeek_rockscripts_filename: "rock-scripts_{{ zeek_rockscripts_branch | replace('/', '-') }}.tar.gz"
rock_dashboards_repo: https://github.com/rocknsm/rock-dashboards.git
rock_dashboards_branch: master
rock_dashboards_url: "https://github.com/rocknsm/rock-dashboards/archive/{{ rock_dashboards_branch }}.tar.gz"
rock_dashboards_filename: "rock-dashboards_{{ rock_dashboards_branch | replace('/', '-') }}.tar.gz"
rock_dashboards_version: 2.4
rock_module_dir: "/opt/rocknsm/rock-dashboards-{{ rock_dashboards_branch }}"
stenographer_user: stenographer
stenographer_group: stenographer
stenographer_data_dir: "{{ rock_data_dir }}/stenographer"
suricata_user: suricata
suricata_group: suricata
suricata_data_dir: "{{ rock_data_dir }}/suricata"
suricata_var_dir: /var/lib/suricata

kafka_user: kafka
kafka_group: kafka
kafka_data_dir: "{{ rock_data_dir }}/kafka"
kafka_config_path: /etc/kafka/server.properties
kafka_zookeeper_host: "{{ hostvars[groups['zookeeper'][0]].ansible_default_ipv4.address }}"
kafka_zookeeper_port: 2181
kafka_zookeeper_chroot: ""

es_user: elasticsearch
es_group: elasticsearch
es_data_dir: "{{ rock_data_dir }}/elasticsearch"
es_cluster_name: rocknsm
es_node_name: "{{ inventory_hostname }}"
es_network_host: "{{ '_site:ipv4_' if ( groups['elasticsearch'] | length ) > 1 else '_local:ipv4_' }}"
es_url: "http://{{ groups['elasticsearch'][0] if ( groups['elasticsearch'] | length ) > 1 else '127.0.0.1' }}:9200"
es_action_auto_create_index: true
es_min_master_nodes: "{{ 2 if ( groups['es_masters'] | length ) == 3 else 1 }}"
es_mem: "{{ (ansible_memtotal_mb|int // 1024 // 2) if (ansible_memtotal_mb|int // 1024) < 64 else 31 }}"
es_log_dir: /var/log/elasticsearch
es_memlock_override: |
  [Service]
  LimitMEMLOCK=infinity
logstash_user: logstash
logstash_group: logstash
kibana_host: "127.0.0.1"
kibana_port: "5601"
kibana_url: "http://{{ kibana_host }}:{{ kibana_port }}"
# Set default page to "Welcome [ROCK]" dashboard
kibana_defaultRoute: "/app/kibana#/dashboard/6151e9d0-bf83-11e9-85bb-3b744f61312d"


###############################################################################
#                       XFS Quota Configuration
###############################################################################
# Set default mount point for Storage
default_mount: /data
