
# main.yml - Common tasks for ROCK
- import_tasks: 00_preflight.yml
- import_tasks: 05_configure_yum_repos.yml
- import_tasks: 15_set_hostname.yml
- import_tasks: 20_minimum_hardware_check.yml
- import_tasks: 25_configure_rock_repo.yml
- import_tasks: 30_disable_selinux.yml
- import_tasks: 35_install_common_packages.yml
- import_tasks: 40_create_directories.yml
- import_tasks: 45_disable_ipv6.yml
- import_tasks: 50_disable_firewall.yml
- import_tasks: 55_banner.yml

# TODO: This should be in production, but takes too long for a dev
# environment
#- name: Update all system packages to latest
  #yum: name=* state=latest

- import_tasks: 95_reboot.yml
