######################################################
############### ROCKNSM Customization ################
######################################################
- name: "Build hosts file"
  lineinfile:
    dest: /etc/hosts
    regexp: '.*{{ item }}$'
    line: "{{ hostvars[item].ansible_default_ipv4.address }} {{item}}"
    state: present
  when: hostvars[item].ansible_default_ipv4 is defined and hostvars[item].ansible_default_ipv4 is defined
  with_items: "{{ groups['all'] }}"

- name: Install ROCK NSM /etc/issue
  copy:
    src: etc-issue.in
    dest: /etc/issue.in
    mode: 0644
    owner: root
    group: root

- name: NetworkManager ROCK NSM hook
  copy:
    src: nm-issue-update
    dest: /etc/NetworkManager/dispatcher.d/50-rocknsm-issue-update
    mode: 0755
    owner: root
    group: root

#- name: 'Render rock_start template'
#  template:
#    backup: yes
#    src: rock.target.j2
#    dest: /etc/systemd/system/rock.target
#    owner: root
#    group: root
#    mode: 0644

#- name: 'Create rock.target.wants'
#  file:
#    path: /etc/systemd/system/rock.target.wants
#    state: directory
#    owner: root
#    group: root
#    mode: 0755

#- name: 'Check default runlevel'
#  command: systemctl get-default
#  register: runlevel

#- name: 'Change default runlevel'
#  command: systemctl set-default rock.target
#  when: runlevel is defined and runlevel.stdout != "rock.target"

#- name: 'Check current runlevel'
#  command: systemctl is-active rock.target
#  register: runlevel_active
#  failed_when: runlevel_active.rc != 0
#  ignore_errors: yes

#- name: 'Switch to rock.target'
#  command: systemctl isolate rock.target
#  when: runlevel_active is defined and runlevel_active.stdout != "active"

#- name: Install rock_status script
#  template:
#    src: rock_status.j2
#    dest: /usr/local/bin/rock_status
#    mode: 0755
#    owner: root
#    group: root

# main.yml - Common tasks for ROCK
- include_tasks: minimum_hardware_check.yml
- include_tasks: configure_yum_repos.yml
- include_tasks: configure_rock_repo.yml
- include_tasks: install_common_packages.yml
- include_tasks: create_rock_directories.yml
- include_tasks: disable_ipv6.yml
- include_tasks: set_hostname.yml
- include_tasks: ensure_cache_directory_exists.yml
- include_tasks: enable_firewall.yml
- include_tasks: install_docker.yml
