apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: es-data
  labels:
    component: elasticsearch
    role: data
spec:
  serviceName: "es-data"
  replicas: {{ es_datas }}
  template:
    metadata:
      labels:
        component: elasticsearch
        role: data
    spec:
      initContainers:
      - name: init-sysctl
        image: busybox:1.27.2
        command:
        - sysctl
        - -w
        - vm.max_map_count=262144
        securityContext:
          privileged: true
      containers:
      - name: es-data
        image: {{ elastic_image }}:{{ elastic_ver }}
        securityContext:
          privileged: true
          capabilities:
            add:
              - IPC_LOCK
        resources:
          requests:
            memory: "{{ es_mem * 2 }}Gi"
            cpu: "250m"
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: CLUSTER_NAME
          value: {{ es_cluster_name }}
        - name: NODE_MASTER
          value: "false"
        - name: NODE_INGEST
          value: "false"
        - name: HTTP_ENABLE
          value: "false"
        - name: ES_JAVA_OPTS
          value: -Xms{{ es_mem }}g -Xmx{{ es_mem }}g
        ports:
        - containerPort: {{ elastic_data_port }}
          name: http
        - containerPort: {{ elastic_management_port }}
          name: transport
        livenessProbe:
          tcpSocket:
            port: transport
          initialDelaySeconds: 20
          periodSeconds: 10
        volumeMounts:
        - name: data
          mountPath: {{ elastic_pv_data_path }}
        - name: elastic
          mountPath: {{ elastic_config_path }}/elasticsearch.yml
          subPath: elasticsearch.yml
        - name: elastic
          mountPath: {{ elastic_config_path }}/jvm.options
          subPath: jvm.options
        - name: elastic
          mountPath: {{ elastic_config_path }}/log4j2.properties
          subPath: log4j2.properties
      volumes:
      - name: elastic
        configMap:
          name: elastic
      nodeSelector:
        role: server
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: rbd
      resources:
        requests:
          storage: {{ elastic_pv_size }}Gi
