*#
*.iso
*.pcap
*.retry
*.un~
*~
.#*
.*.sw[a-z]
.DS_Store
.bundle/*
.kitchen
.kitchen.local.yml
.kitchen/
.vagrant
.vs
/cookbooks
Berksfile.lock
Gemfile.lock
Vagrantfile.vmware
\#*#
pkg/
repo/
tmp/
playbooks/files/admin.conf
playbooks/files/join-node.sh

playbooks/roles/logstash/tasks/old-main\.yml
