*#
*.iso
*.pcap
*.retry
*.un~
*~
.#*
.*.sw[a-z]
.DS_Store
.bundle/*
.kitchen
.kitchen.local.yml
.kitchen/
.vagrant
.vs
.vscode/*
/cookbooks
Berksfile.lock
Gemfile.lock
Vagrantfile.vmware
\#*#
pkg/
repo/
tmp/
playbooks/roles/logstash/tasks/old-main\.yml

# We dont want to commit tokens to git
playbooks/files/admin.conf
playbooks/files/join-node.sh

*inventory*
inventory/dev/*
