apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  labels:
    component: kibana
spec:
  replicas: 1
  selector:
    matchLabels:
      component: kibana
  template:
    metadata:
      labels:
        component: kibana
    spec:
      containers:
      - name: kibana
        image: {{ kibana_image }}:{{ kibana_ver }}
        env:
        - name: CLUSTER_NAME
          value: {{ elastic_cluster_name }}
        - name: XPACK_SECURITY_ENABLED
          value: '{{ xpack_license }}'
        - name: XPACK_MONITORING_UI_CONTAINER_ELASTICSEARCH_ENABLED
          value: '{{ xpack_license }}'
        - name: XPACK_GRAPH_ENABLED
          value: '{{ xpack_license }}'
        - name: XPACK_ML_ENABLED
          value: '{{ xpack_license }}'
        - name: XPACK_REPORTING_ENABLED
          value: '{{ xpack_license }}'
        resources:
          limits:
            cpu: 1000m
          requests:
            cpu: 100m
        ports:
        - containerPort: {{ kibana_port }}
          name: http
      nodeSelector:
        role: server
