---

version: '2'
services:
  kibana:
    image: "{{ kibana_image }}:{{ kibana_ver }}"
    container_name: 'kibana'
    ports:
      - "{{ kibana_ip }}:{{ kibana_port }}:{{ kibana_port }}"
    restart: "always"
    volumes: 
      - "{{ rocknsm_dir }}/kibana/data:/data"
    environment:
      - ELASTICSEARCH_URL="http://proxy"
      - SERVER_HOST="{{ kibana_ip }}"
      - SERVER_PORT="{{ kibana_port }}"
      - SERVER_BASEPATH="/kibana"
      - xpack.security.enabled="{{ xpack_license }}"
      - xpack.monitoring.ui.container.elasticsearch.enabled:"{{ xpack_license }}"
# Secure Docker network that cannot be connected to host directly
networks:
  default:
    external:
      name: 'rocknsm_inside'
...
