---

version: '2'
services:
  kibana:
    image: "kibana:{{ kibana_ver }}"
    network_mode: host
    ports:
      - "5601:5601"
    restart: "always"
    volumes: 
      - "{{ rocknsm_dir }}/kibana:/data"
    environment:
      - "ELASTICSEARCH_URL=http://{{ rock_hostname }}:9200"
      - SERVER_HOST=0.0.0.0
      - SERVER_PORT=5601
      - xpack.security.enabled=false