---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-manager
  labels:
    component: kafka-manager
spec:
  replicas: 1
  selector:
    matchLabels:      
      component: kafka-manager
  template:
    metadata:
      labels:
        component: kafka-manager
    spec:
      containers:
      - name: kafka-manager
        image: prodian0013/tfplenum-kafka-manager:alpine
        ports:
        - containerPort: 9000
          name: http
        env:
        - name: KAFKA_ZOOKEEPER_CONNECT
          value: "zookeeper.default.svc.cluster.local"
        - name: ZOOKEEPER_PORT
          value: "{{ zookeeper_port }}"
      nodeSelector:
        role: server
