{% for n in range(elastic_masters) %}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: data-es-master-statefulset-{{ n }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ elastic_pv_size }}Gi
  storageClassName: rbd
{% endfor %}