######################################################
################# Setup Elasticsearch ################
######################################################
---

# This is here because Kubernetes repeatedly failed to download the image.
# See: https://github.com/kubernetes/kubernetes/issues/59376
# Pulling it through Docker resolves the issue
- name: Perform Elasticsearch image download workaround
  docker_image:
    name: "{{ elasticsearch_image }}:{{ elastic_ver }}"

- name: "Create directories"
  file:
    group: "{{ es_group }}"
    owner: "{{ es_user }}"
    mode: u+rw,g+rw
    path: "{{ elastic_dir }}"
    state: directory

- name: Install Templates
  template:
    src: "templates/{{ item }}.j2"
    dest: "{{ elastic_dir }}/{{ item }}"
    group: "{{ es_group }}"
    owner: "{{ es_user }}"
    mode: u+rw,g+rw
  with_items:
    - es-discovery-svc.yml
    - es-master-statefulset.yml
    - es-data-statefulset.yml
    - es-svc.yml
    - elastichq.yml
    - elastichq-svc.yml
    - elasticsearch.yml

- name: Flush Config
  command: 'kubectl delete configmap elastic --ignore-not-found=true'

- name: Create Config
  shell: |
    kubectl create configmap elastic --from-file {{ elastic_dir }}/elasticsearch.yml

- name: Flush Deployments
  shell: |
    kubectl delete -f {{ elastic_dir }}/{{ item }}.yml --ignore-not-found=true
    while [ $(kubectl get -f {{ elastic_dir }}/{{ item }}.yml | tail -n +2 | wc -l) != '0' ]; do
      echo -n .;
      sleep 1;
    done;
    sleep 5;
  with_items:
    - es-discovery-svc.yml
    - es-svc.yml
    - es-data-statefulset.yml
    - es-master-statefulset.yml
    - elastichq.yml
    - elastichq-svc.yml

- name: Deploy Services
  include_role:
    name: kubernetes/common
    tasks_from: kube_create
  vars:
    name: "Elasticsearch Pods"
    file_name: "{{ elastic_dir }}/{{ item }}.yml"
  with_items:
    - es-discovery-svc.yml
    - es-svc.yml
    - elastichq-svc.yml

- name: Deploy Pods
  include_role:
    name: kubernetes/common
    tasks_from: kube_create
  vars:
    name: "Elasticsearch Services"
    file_name: "{{ elastic_dir }}/{{ item }}.yml"
  with_items:
    - es-master-statefulset.yml
    - es-data-statefulset.yml
    - elastichq.yml



- name: Wait for Elasticsearch to be ready
  import_role:
    name: kubernetes/common
    tasks_from: kube_wait
  vars:
    type: "statefulset"
    namespace: "default"
    resource_name: "es-master-statefulset"
    label: ""
