# Proxy Module.
server.modules += ("mod_proxy")
server.modules += ("mod_rewrite")
# Route the /api route through to Node.
#$HTTP["url"] =~ "^/api/" {
#  proxy.server = ("" => ((
#   "host" => "127.0.0.1",
#   "port" => 8080
#  )))
#}

#=======================
# Kibana forward
$HTTP["url"] =~ "^/kibana" {
  # this is a test, not sure if it works
  url.rewrite-once = ("^/kibana/(.*)" => "/$1")
  proxy.server = ( "" => ((
    "host" => "kibana", "port" => "{{ kibana_port }}"
  )))
}

#=======================
# Portainer forward
$HTTP["url"] =~ "^/portainer" {
# this is a test, not sure if it works
  url.rewrite-once = ("^/portainer/(.*)" => "/$1")
  proxy.server = ( "" => ((
    "host" => "portainer", "port" => "{{ portainer_port }}"
)))
}
