[Unit]
Description = Portainer Container Service

Wants    = network.target
Requires = docker.service

[Service]
Type = simple

 ExecStart = /usr/bin/docker-compose -f {{ rocknsm_dir }}/portainer/portainer-compose.yml up

 ExecStop  = /usr/bin/docker-compose -f {{ rocknsm_dir }}/portainer/portainer-compose.yml down -v

[Install]
WantedBy = multi-user.target
