#######################################################################
## Docket virtual host config
## file: /etc/lighttpd/vhosts.d/docket.conf
##
## {{ ansible_managed }}
##

$SERVER["socket"] == "{{docket_listen_ip}}:{{docket_listen_port}}" {
  var.server_name = "{{ docket_server_name }}"
  server.name = server_name
  accesslog.filename = log_root + "/" + server_name + "/access.log"

  ssl.engine  = "{{ yes if docket_tls == true else no }}"
  ssl.pemfile = "{{ docket_web_pemfile }}"

  include "conf.d/scgi_docket.conf"
}

##
#######################################################################
