apiVersion: v1
kind: Service
metadata:
  name: scaleio-gateway
  labels:
    component: scaleio-gateway
spec:
  selector:
    component: scaleio-gateway
  ports:
  - name: transport
    port: 443
    targetPort: transport
  type: LoadBalancer
