[Unit]
Description=Suricata Intrusion Detection Service
After=syslog.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecReload=/bin/true
WorkingDirectory=/etc/suricata

[Install]
WantedBy=multi-user.target
