[Unit]
Description=Suricata Intrusion Detection Service - %I
After=syslog.target network.target
PartOf=suricata.service
ReloadPropagatedFrom=suricata.service

[Service]
EnvironmentFile=-/etc/sysconfig/suricata
ExecStart=/sbin/suricata -c /etc/suricata/suricata.yaml --af-packet=%i
ExecReload=/bin/kill -HUP $MAINPID
User=suricata
Group=suricata

[Install]
WantedBy=multi-user.target
