[logger]
type=logger
host=localhost
#
[manager]
type=manager
host=localhost
#
[proxy-1]
type=proxy
host=localhost
#
[worker-1]
type=worker
host=localhost
interface=af_packet::net0
lb_method=custom
lb_procs=8
pin_cpus=27,28,29,30,31,32,33,34
