---
- name: Check existing secret_key
  shell: awk '/^SECRET_KEY/ {print $2}' /etc/docket/prod.yaml
  register: docket_prod
  changed_when: false

- debug: msg="{{ docket_prod }}"

- name: Keep existing secret_key
  set_fact: docket_secret="{{ docket_prod.stdout }}"
  when: '"CHANGE_THIS" not in docket_prod.stdout'

- name: Set production docket config
  template:
    src: docket_prod.yaml.j2
    dest: /etc/docket/prod.yaml
  notify:
    - Restart docket uwsgi
    - Restart docket celery services

- name: Set uwsgi config
  template:
    src: docket-uwsgi.ini.j2
    dest: /etc/docket/docket-uwsgi.ini
  notify:
    - Restart docket uwsgi

- name: Enable redis
  service:
    name: redis
    enabled: true
  notify: Restart redis
  when: "'docket' in enabled_services"

- name: Enable docket celery services
  service:
    name: "{{ item }}"
    enabled: "{{ 'True' if 'docket' in enabled_services else 'False' }}"
  notify: Restart docket celery services
  loop:
    - docket-celery-io
    - docket-celery-query

- name: Enable docket uwsgi service
  service:
    name: docket
    enabled: "{{ 'True' if 'docket' in enabled_services else 'False' }}"
  notify: Restart docket uwsgi
