---

version: '2'
services:
  elastic:
    image: "{{ elastic_container }}:{{ elastic_ver }}"
    container_name: "{{ rock_hostname }}"
    restart: "always"
    ports:
      # TODO: This line should no longer be needed with the backend networking
      #- "{{ elastic_data_port }}:{{ elastic_data_port }}"
      - "{{ elastic_management_port }}:{{ elastic_management_port }}"
    volumes:
      - "{{ es_data_dir }}:/usr/share/elasticsearch/data/"
      - "{{ es_config_dir}}/jvm.options:{{ es_config_dir }}/jvm.options"
    environment:
      - cluster.name={{ es_cluster_name }}
      - node.name={{ es_node_name }}
      - xpack.security.enabled=false
      #- processors=8

      # TODO: These should no longer be necessary with the new backend networking
      #- http.host=0.0.0.0
      #- transport.tcp.port={{ elastic_management_port }}

      # This option keeps JVM memory from being paged out to swap
      - bootstrap.memory_lock=true

      #- discovery.zen.ping.unicast.hosts=old1:9300,old2:9301

    ulimits:
      memlock:
        soft: -1
        hard: -1

    # This caps the amount of memory available to the container
    mem_limit: {{ es_mem * 2 }}g

# Secure Docker network that cannot be connected to host directly
networks:
  default:
    external:
      name: 'rocknsm_inside'

...
