cluster.name: "{{ elastic_cluster_name }}"
network.host: 0.0.0.0

# minimum_master_nodes need to be explicitly set when bound on a public IP
# set to 1 to allow single node clusters
# Details: https://github.com/elastic/elasticsearch/pull/17288
discovery.zen.minimum_master_nodes: {{ elastic_masters }}
discovery.zen.ping.unicast.hosts: elasticsearch-discovery
xpack.license.self_generated.type: basic
thread_pool.bulk.queue_size: -1
index.store.type: niofs
indices.fielddata.cache.size: 20%
processors: {{ ( ( elasticsearch_cpu_request | replace('m','') | int ) / 1000 ) | round | int}}
