apiVersion: apps/v1
kind: Deployment
metadata:
  name: elastichq
  labels:
    component: elastichq
spec:
  replicas: 1
  selector:
    matchLabels:      
      component: elastichq
  template:
    metadata:
      labels:
        component: elastichq
    spec:
      containers:
      - name: elastichq
        image: dwharve/elastichq:latest
        ports:
        - containerPort: 5000
          name: http
        livenessProbe:
          tcpSocket:
            port: http
      nodeSelector:
        role: server
