kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ elastic_pv_data }}
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: {{ elastic_pv_size }}Gi
  accessModes:
    - ReadOnlyMany
  hostPath:
    path: "{{ elastic_pv_data_dir }}"
    type: Directory
