kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ elastic_pv_data }}
spec:
  storageClassName: manual
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: {{ elastic_pv_size }}Gi
  volumeName: {{ elastic_pv_data }}
