kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ elastic_pv_data }}
spec:
  storageClassName: gluster-heketi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ elastic_pv_size }}Gi
