# Dockerfile for Kafka

FROM java:openjdk-8-jre

# This environment variable will persist in the actual image itself. This will
# override the kafka home value in the start-kafka.sh script. To see environment
# variables run docker inspect
ENV KAFKA_HOME {{ kafka_install_dir }}

ADD start-kafka.sh /usr/bin/start-kafka.sh

RUN wget -q {{ kafka_url }} -O /tmp/{{ kafka_download_name }} && \
    wget -q {{ kafka_sha512sum_url }} -O /tmp/{{ kafka_download_name }}.sha512 && \
    # This converts the BS file hash from Apache into a standard format to allows sha512sum verify the hash
    tr -d '\n' < /tmp/{{ kafka_download_name }}.sha512 | tr -d ' ' | sed 's/:/ /' | awk '{print $2,"/tmp/{{ kafka_download_name }}"}' > /tmp/temp_hash && \
    # If the hash is different, this will fail, the run command will fail, and the task will fail.
    sha512sum --check /tmp/temp_hash && \
    rm -f /tmp/temp_hash

RUN mkdir -p /opt/kafka && \
    # The option strip-components removes the top level folder. Normally this would
    # be something like kafka_vsnXXXXX. This makes it so the top level is just kafka
    tar xzf /tmp/{{ kafka_download_name }} -C {{ kafka_install_dir }} --strip-components 1 && \
    rm -f /tmp/{{ kafka_download_name }} && \
    chmod 774 /usr/bin/start-kafka.sh

EXPOSE {{ kafka_port }}

CMD /usr/bin/start-kafka.sh
