# See: https://kubernetes.io/blog/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes/
# for details on how this functions

apiVersion: v1
kind: ConfigMap
metadata:
  name: kube-dns
  namespace: kube-system
data:
  # If this line looks incredibly confusing, see escaping documentation in jinja2
  # http://jinja.pocoo.org/docs/2.10/templates/#escaping. It wasn't my idea.
  stubDomains: |
    {{'{'}}"lan": [{{'"'}}{{ dns_ip }}{{'"'}}]{{'}'}}
  upstreamNameservers: |
    ["{{ hostvars[groups['master-server'][0]].management_ipv4 }}"]
