monitor_interfaces:
{% for host in groups['sensors'] %}
  {{ hostvars[host].inventory_hostname }}:
{% for iface in hostvars[host].monitor_interfaces %}
    - {{ iface }}
{% endfor %}
{% endfor %}
{% for host in groups['remote-sensors'] %}
  {{ hostvars[host].inventory_hostname }}:
{% for iface in hostvars[host].monitor_interfaces %}
    - {{ iface }}
{% endfor %}
{% endfor %}
bro_workers:
{% for host in groups['sensors'] %}
  {{ hostvars[host].inventory_hostname }}: {{ hostvars[host].bro_workers }}
{% endfor %}
{% for host in groups['remote-sensors'] %}
  {{ hostvars[host].inventory_hostname }}: {{ hostvars[host].bro_workers }}
{% endfor %}
moloch_threads:
{% for host in groups['sensors'] %}
  {{ hostvars[host].inventory_hostname }}: {{ hostvars[host].moloch_threads }}
{% endfor %}
{% for host in groups['remote-sensors'] %}
  {{ hostvars[host].inventory_hostname }}: {{ hostvars[host].moloch_threads }}
{% endfor %}
remote:
{% for host in groups['sensors'] %}
  {{ hostvars[host].inventory_hostname }}: false
{% endfor %}
{% for host in groups['remote-sensors'] %}
  {{ hostvars[host].inventory_hostname }}: true
{% endfor %}
bpf_filter: "{{ bpf_filter }}"
pcap_bpf_filter: "{{ pcap_bpf_filter }}"
home_net:
{% for net in home_net %}
  - "{{ net }}"
{% endfor %}
kafka_fqdn: {{ kafka_fqdn }}
kafka_port: {{ kafka_port }}
elastic_fqdn: {{ elastic_fqdn }}
elastic_port: {{ elastic_port }}

moloch_spiDataMaxIndices: {{ moloch_spiDataMaxIndices }}
moloch_pcapWriteMethod: {{ moloch_pcapWriteMethod }}
moloch_pcapWriteSize: {{ moloch_pcapWriteSize }}
moloch_dbBulkSize: {{ moloch_dbBulkSize }}
moloch_maxESConns: {{ moloch_maxESConns }}
moloch_maxESRequests: {{ moloch_maxESRequests }}
moloch_packetsPerPoll: {{ moloch_packetsPerPoll }}
moloch_magicMode: {{ moloch_magicMode }}
moloch_maxPacketsInQueue: {{ moloch_maxPacketsInQueue }}
