---

- name: Install packages
  yum:
    name:
      - lighttpd
      - python2-xkcdpass
    state: present

- name: Install ROCK lighttpd configuration
  template:
    src: templates/lighttpd-{{ item }}.j2
    dest: /etc/lighttpd/vhosts.d/{{ item }}
    mode: 0644
    owner: root
    group: root
  when: with_kibana
  with_items:
    - 10-rock-auth.conf
    - 10-tls.conf
    - 20-rock-vars.conf
    - 50-rockproxy.conf
  notify: Enable and restart lighttpd

- name: Enable lighttpd vhosts
  lineinfile:
    path: /etc/lighttpd/lighttpd.conf
    regexp: '^#?\s*include.*vhosts\.d/.*$'
    line: include "/etc/lighttpd/vhosts.d/*.conf"
  notify: Enable and restart lighttpd

- name: Enable lighttpd to perform proxy connect
  seboolean:
    name: httpd_can_network_connect
    state: yes
    persistent: yes
  when: with_kibana

- name: Generate sensor private key
  openssl_privatekey:
    path: "{{ http_tls_key }}"
  when: with_kibana
  notify: Enable and restart lighttpd

- name: Generate sensor public key
  openssl_publickey:
    path: "{{ http_tls_pub }}"
    privatekey_path: "{{ http_tls_key }}"
  when: with_kibana
  notify: Enable and restart lighttpd

- name: Generate sensor CSR
  openssl_csr:
    path: "{{ http_tls_pub }}.csr"
    privatekey_path: "{{ http_tls_key }}"
    country_name: US
    state_or_province_name: MO
    locality_name: St. Louis
    organization_name: RockNSM
    organizational_unit_name: NSM Ninjas
    email_address: info@rocknsm.io
    common_name: "{{ rock_fqdn }}"
  when: with_kibana
  notify: Enable and restart lighttpd

- name: Generate sensor certificate
  openssl_certificate:
    path: "{{ http_tls_crt }}"
    privatekey_path: "{{ http_tls_key }}"
    csr_path: "{{ http_tls_pub }}.csr"
    provider: selfsigned
  when: with_kibana
  notify: Enable and restart lighttpd

- name: Combine sensor cert and key
  shell: >
    cat {{http_tls_key}} {{http_tls_crt}} > {{http_tls_combined}}
  args:
    creates: "{{ http_tls_combined }}"
  notify: Enable and restart lighttpd

- name: Generate DH parameters
  command: >
    openssl dhparam -out {{http_tls_dhparams}} 2048
  args:
    creates: "{{http_tls_dhparams}}"
  when: with_kibana
  notify: Enable and restart lighttpd

- name: Configure firewall ports
  firewalld:
    port: "{{ item }}/tcp"
    permanent: yes
    state: enabled
    immediate: yes
  loop:
    - 443
