filter {

  if [@metadata][stage] == "suricataraw_kafka" {

    if ![tags] {

      # Remove kafka_topic field
      mutate {
        remove_field => [ "kafka_topic" ]
      }

    } else {
      mutate { add_field => { "[@metadata][stage]" => "_parsefailure" } }
    }
  }

  if [@metadata][stage] == "suricata_eve" {
    # Tags will determine if there is some sort of parse failure
    if ![tags] {
      mutate { remove_field => ["path"] }
    }
    else {
      mutate { add_field => { "[@metadata][stage]" => "_parsefailure" } }
    }
  }

  if [beat] {
    mutate { remove_field => ["beat", "source"] }
  }

  # Set the timestamp
  date { match => [ "timestamp", "ISO8601" ] }

  if [event_type] in ["alert", "flow"] {
    geoip {
            source => "src_ip"
            target => "[@meta][geoip_src]"
            default_database_type => "City"
    }
    geoip {
            source => "dest_ip"
            target => "[@meta][geoip_dest]"
            default_database_type => "City"
    }
    geoip {
            source => "src_ip"
            target => "[@meta][geoip_src]"
            default_database_type => "ASN"
    }
    geoip {
            source => "dest_ip"
            target => "[@meta][geoip_dest]"
            default_database_type => "ASN"
    }
  }
}
