output {
  if [@metadata][stage] == "suricataraw_kafka" {
    kafka {
      codec => json
      topic_id => "suricata-clean"
      bootstrap_servers => {% for host in groups['kafka'] %}"{{ host }}:9092"{% if not loop.last %},{% endif %}{% endfor %}

    }

    elasticsearch {
      {% if groups['elasticsearch'] | length > 1 %}
      hosts => [{% for host in groups['es_data'] %}"{{ host }}"{% if not loop.last %},{% endif %}{% endfor %}]
      {% else %}
      hosts => ["127.0.0.1:9200"]
      {% endif %}
      index => "suricata-%{+YYYY.MM.dd}"
      manage_template => false
      document_type => "_doc"
    }
  }
}
