%YAML 1.1
---
default-rule-path: "{{ suricata_var_dir }}/rules"
rule-files:
  - suricata.rules

af-packet:
{% for iface in rock_monifs %}
  - interface: {{ iface }}
    #threads: auto
    cluster-id: {{ 99 - loop.index0 }}
    cluster-type: cluster_flow
    defrag: true
    use-mmap: true
    mmap-locked: true
    #rollover: true
    tpacket-v3: true
    use-emergency-flush: true
{% endfor %}
default-log-dir: {{ suricata_data_dir }}

#Magic file location for EL7
magic-file: /usr/share/file/magic
outputs:
  - fast:
      enabled: true
      filename: fast.log
      append: true
  - eve-log:
      enabled: true
      filetype: regular
      filename: eve.json
      types:
        - alert:
            http: true
            tls: true
            ssh: true
            smtp: true
            tagged-packets: true
            xff:
              enabled: false
        - files:
            force-magic: true
            force-hash: [sha256, sha1, md5]
        - stats:
            totals: true
            threads: false
            deltas: false
        - flow
        - http
        - dns
        - tls
        - community-id: true
  - unified2-alert:
      enabled: true
      filename: unified2.alert
      limit: 32mb
      sensor-id: 0
      payload: true
