---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zookeeper
spec:
  selector:
    matchLabels:
      component: zookeeper
  podManagementPolicy: "Parallel"
  replicas: {{ zookeeper_replicas }}
  serviceName: zookeeper
  template:
    metadata:
      labels:
        component: zookeeper
    spec:
      containers:
      - name: zookeeper
        image: {{ zookeeper_image }}:{{ zookeeper_ver }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: {{ zookeeper_port }}
          name: client
        - containerPort: 2888
          name: server
        - containerPort: 3888
          name: leader-election
        livenessProbe:
          exec:
            command:
            - sh
            - -c
            - zkOk
          initialDelaySeconds: 15
          timeoutSeconds: 1
          periodSeconds: 15
          failureThreshold: 5
        resources:
          requests:
            cpu: {{ zookeeper_cpu_request }}
        volumeMounts:
        - mountPath: {{ zookeeper_data_path }}
          name: zookeeper-data
        - mountPath: {{ zookeeper_datalog_path }}
          name: zookeeper-datalog
        - name: zookeeper
          mountPath: "{{ zookeeper_home }}/conf/zoo.cfg"
          subPath: zoo.cfg
        - name: zookeeper
          mountPath: "{{ zookeeper_home }}/conf/log4j.properties"
          subPath: log4j.properties
        - name: zookeeper
          mountPath: "{{ zookeeper_home }}/conf/configuration.xsl"
          subPath: configuration.xsl
        - name: zookeeper
          mountPath: "{{ zookeeper_home }}/conf/java.env"
          subPath: java.env
        env:
        - name: ZOOKEEPER_PORT
          value: "{{ zookeeper_port }}"
      volumes:
      - name: zookeeper
        configMap:
          name: zookeeper
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: role
                operator: In
                values:
                - sensor
                - server
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: component
                operator: In
                values:
                - zookeeper
            topologyKey: "kubernetes.io/hostname"
  volumeClaimTemplates:
  - metadata:
      name: zookeeper-data
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: rbd
      resources:
        requests:
          storage: {{ zookeeper_pv_size }}Gi
  - metadata:
      name: zookeeper-datalog
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: rbd
      resources:
        requests:
          storage: {{ zookeeper_pv_size }}Gi
