---
apiVersion: apps/v1
kind: StatefulSet
metadata: 
  name: {{ zk_app_name }}
spec:
  selector:
    matchLabels:
      component: {{ zk_app_name }}
  podManagementPolicy: "Parallel"
  replicas: {{ zk_replica_count }}
  serviceName: {{ zk_app_name }}
  template:
    metadata: 
      labels: 
        component: {{ zk_app_name }}
    spec:
      containers:
      - name: {{ zk_app_name }}
        image: {{ zookeeper_image }}:{{ zookeeper_ver }}
        imagePullPolicy: Always
        ports: 
        - containerPort: {{ zookeeper_port }}
          name: client
        - containerPort: 2888
          name: server
        - containerPort: 3888
          name: leader-election
        livenessProbe:
          exec:
            command:
            - sh
            - -c
            - zkOk
          initialDelaySeconds: 15
          timeoutSeconds: 1
          periodSeconds: 15
          failureThreshold: 5
        volumeMounts: 
        - mountPath: {{ zookeeper_data_path }}
          name: zookeeper-data
        - mountPath: {{ zookeeper_datalog_path }}
          name: zookeeper-datalog                       
        - name: {{ zk_app_name }}
          mountPath: "{{ zookeeper_home }}/conf/zoo.cfg"
          subPath: zoo.cfg
        - name: {{ zk_app_name }}
          mountPath: "{{ zookeeper_home }}/conf/log4j.properties"
          subPath: log4j.properties
        - name: {{ zk_app_name }}
          mountPath: "{{ zookeeper_home }}/conf/configuration.xsl"
          subPath: configuration.xsl
        - name: {{ zk_app_name }}
          mountPath: "{{ zookeeper_home }}/conf/java.env"
          subPath: java.env
        env:        
        - name: ZOOKEEPER_PORT
          value: "{{ zookeeper_port }}"
      volumes:
      - name: {{ zk_app_name }}
        configMap:
          name: {{ zk_app_name }}
{% if remote %}
      - name: zookeeper-data
        hostPath:      
          path: /data/zookeeper/data      
          type: Directory
      - name: zookeeper-datalog
        hostPath:      
          path: /data/zookeeper/datalog      
          type: Directory
{% endif %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: role
                operator: In
                values:
{% if remote %}
                - {{ node_label }}
{% else %}
                - sensor
                - server
{% endif %}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: component
                operator: In
                values:
                - {{ zk_app_name }}
            topologyKey: "kubernetes.io/hostname"
{% if remote == false %}
  volumeClaimTemplates:
  - metadata:
      name: zookeeper-data
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: rbd
      resources:
        requests:
          storage: {{ zookeeper_pv_size }}Gi
  - metadata:
      name: zookeeper-datalog
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: rbd
      resources:
        requests:
          storage: {{ zookeeper_pv_size }}Gi
{% endif %}