---
apiVersion: v1
kind: Service
metadata:
  name: {{ zk_app_name }}
  labels:
    component: {{ zk_app_name }}
spec:
  ports:
  - port: 2888
    name: server
  - port: 3888
    name: leader-election
  clusterIP: None
  selector:
    component: {{ zk_app_name }}