tickTime=2000
standaloneEnabled={{ remote }}
dataDir={{ zookeeper_data_path }}
dataLogDir={{ zookeeper_datalog_path }}
clientPort={{ zookeeper_port }}
{% if remote == false %}
initLimit=5
syncLimit=2
{% for i in range(zookeeper_replicas) %}
server.{{ i }}=zookeeper-{{ i }}.zookeeper.default.svc.cluster.local:2888:3888
{% endfor %}
{% endif %}