apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: kafka
  labels:
    component: kafka
spec:
  replicas: {{ groups['sensors'] | length }}
  selector:
    matchLabels:
     component: kafka
  template:
    metadata:
      labels:
        component: kafka
    spec:
      containers:
      - name: zookeeper
        image: {{ zookeeper_container }}:{{ zookeeper_ver }}
        resources:
          limits:
            cpu: 1000m
          requests:
            cpu: 100m
        ports:
        - containerPort: 9092
          name: transport
        envFrom:
        - configMapRef:
            name: zookeeper-config-map
        volumeMounts:
         - mountPath: "{{ zookeeper_data_path }}"
           name: {{ zookeeper_pv_data }}

      - name: kafka
        image: {{ kafka_container_name }}:{{ kafka_ver }}
        resources:
          limits:
            cpu: 1000m
          requests:
            cpu: 100m
        envFrom:
        - configMapRef:
            name: kafka-config-map
        ports:
        - containerPort: {{ kafka_port }}
          name: transport
        volumeMounts:
          - mountPath: "{{ kafka_data_path }}"
            name: {{ kafka_pv_data }}

      volumes:
      - name: {{ zookeeper_pv_data }}
        persistentVolumeClaim:
          claimName: {{ zookeeper_pv_data }}
      - name: {{ kafka_pv_data }}
        persistentVolumeClaim:
          claimName: {{ kafka_pv_data }}
      nodeSelector:
        role: sensor
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: role
                operator: In
                values:
                - sensor
            topologyKey: "kubernetes.io/hostname"
