kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ kafka_pv_data }}
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: {{ kafka_pv_size_mb }}Mi
  accessModes:
    - ReadOnlyMany
  hostPath:
    path: "{{ kafka_data_dir }}"
