kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ kafka_pv_data }}
spec:
  storageClassName: gluster-heketi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ kafka_pv_size_mb }}Mi
