---

version: '2'
services:
  kafka:
    image: rocknsm/kafka
    container_name: {{ kafka_container_name }}
    ports:
      - "9092:9092"
    volumes:
      - /data/kafka:/tmp/kafka-logs
      - /opt/rocknsm/kafka/server.properties:/opt/kafka/config/server.properties
      - "{{ kafka_log_dir }}:{{ kafka_log_dir }}"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: rocksensor1.lan
      KAFKA_ZOOKEEPER_CONNECT: rock-zookeeper:2181
    networks:
      - rocknsm_inside
      - rocknsm_outside

networks:
  rocknsm_inside:
    external: true
  rocknsm_outside:
    external: true

...
