[Unit]
 Description = Kafka Container Service

 Wants    = network.target
 Requires = docker.service

 [Service]
 Type = simple

 ExecStart = /usr/bin/docker-compose -f {{ rock_compose_files }}/kafka-compose.yml up
 ExecStop  = /usr/bin/docker-compose -f {{ rock_compose_files }}/kafka-compose.yml down

 [Install]
 WantedBy = multi-user.target
