[Unit]
 Description = Kafka Container Service

 Wants    = network.target zookeeper.service
 Requires = docker.service

 [Service]
 Type = simple

 ExecStart = /usr/bin/docker-compose -f {{ rock_compose_files }}/kafka-compose.yml.j2 up
 ExecStop  = /usr/bin/docker-compose -f {{ rock_compose_files }}/kafka-compose.yml.j2 down

 [Install]
 WantedBy = multi-user.target
