# See: https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service

apiVersion: v1
kind: Service
metadata:
  name: kafka
  labels:
    component: kafka
spec:
  selector:
    component: kafka
  ports:
  - name: transport
    protocol: TCP
    port: {{ kafka_port }}
    targetPort: {{ kafka_port }}
