
ZOOKEEPER_USER: zookeeper

ZOOKEEPER_MYID: 1

ZOOKEEPER_CONFDIR: /etc/zookeeper

# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just
# example sakes.
ZOOKEEPER_DATADIR: /var/lib/zookeeper/data

ZOOKEEPER_DATALOGDIR: /var/lib/zookeeper/logs

# the port at which the clients will connect
ZOOKEEPER_PORT: {{ zookeeper_port }}

# The number of milliseconds of each tick
ZOOKEEPER_TICKTIME: 2000

# The number of ticks that the initial
# synchronization phase can take
ZOOKEEPER_INITLIMIT: 10

# The number of ticks that can pass between
# sending a request and getting an acknowledgement
ZOOKEEPER_SYNCLIMIT: 5

# the maximum number of client connections.
# increase this if you need to handle more clients
ZOOKEEPER_MAXCLIENTCNXNS: 60

ZOOKEEPER_SERVERS: server.1=0.0.0.0:2888:3888
