#LOCAL NETS
10.0.0.0/8 	RFC1918
172.16.0.0/12	RFC1918
192.168.0.0/16	RFC1918

##########
## ROCK ##
##########
# Add networks for the networks you are monitoring into this file if they're not all RFC1918.
##########
