[Unit]
Description=Suricata Intrusion Detection Service
After=syslog.target network.target

[Service]
EnvironmentFile=-/etc/sysconfig/suricata
ExecStart=/sbin/suricata -c /etc/suricata/suricata.yaml --af-packet
ExecReload=/bin/kill -HUP $MAINPID
User=suricata
Group=suricata
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW CAP_IPC_LOCK
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_IPC_LOCK

[Install]
WantedBy=multi-user.target
