#!/bin/bash
# File: /sbin/ifup-local
#
#
# This script is run after normal sysconfig network-script configuration
# is performed on RHEL/CentOS-based systems.
#
# Parameters:
# $1: network interface name
#
# Post ifup configuration for tuning capture interfaces
# This is compatible with the ixgbe driver, YMMV

# Change this to something like /tmp/ifup-local.log for troubleshooting
LOG=/dev/null
#LOG=/tmp/ifup-local.log

case $1 in
{{ rock_monifs | list | join('|') }})

  for i in rx tx sg tso ufo gso gro lro rxvlan txvlan
  do
    ethtool -K $1 $i off &>$LOG
  done

  ethtool -N $1 rx-flow-hash udp4 sdfn  &>$LOG
  ethtool -N $1 rx-flow-hash udp6 sdfn &>$LOG
  ethtool -n $1 rx-flow-hash udp6 &>$LOG
  ethtool -n $1 rx-flow-hash udp4 &>$LOG
  ethtool -C $1 rx-usecs 10 &>$LOG
  ethtool -C $1 adaptive-rx off &>$LOG
  ethtool -G $1 rx 4096 &>$LOG

  # Disable ipv6
  echo 1 > /proc/sys/net/ipv6/conf/$1/disable_ipv6 &>$LOG
  echo 0 > /proc/sys/net/ipv6/conf/$1/autoconf &>$LOG

  # Set promiscuous mode
  ip link set $1 promisc on &>$LOG

  # Just in case ipv6 is already on this interfaces, let's kill it
  ip addr show dev $1 | grep --silent inet6

  if [ $? -eq 0 ]
  then
    ADDR=$(ip addr show dev $1 | grep inet6 | awk '{ print $2 }')
    ip addr del $ADDR dev $1 &>$LOG
  fi

;;

*)
# No post commands needed for this interface
;;

esac
