{
  "Threads": [
    {
      "PacketsDirectory": "/data/stenographer/{{ item.1 }}/thread0/packets"
    , "IndexDirectory": "/data/stenographer/{{ item.1 }}/thread0/index"
    }
  ]
  , "StenotypePath": "/usr/bin/stenotype"
  , "Interface": "{{ item.1 }}"
  , "Port": {{ 1234 + item.0 }}
  , "Host": "127.0.0.1"
  , "Flags": ["-v"]
  , "CertPath": "/etc/stenographer/certs"
}
