{
  "clusters": [
    {
      "nodes": [
{% for host in groups['all'] %}
        {
          "node": {
            "hostnames": {
              "manage": [
                "{{ hostvars[host].inventory_hostname }}"
              ],
              "storage": [
                "{{ hostvars[host].ansible_default_ipv4.address}}"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sdb"
          ]
        }{% if not loop.last %},{% endif %}
{% endfor %}
      ]
    }
  ]
}
