---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ hostname | hash('md5') }}-bro
  labels:
    component: bro
spec:
  replicas: 1
  selector:
    matchLabels:
      component: bro
  template:
    metadata:
      labels:
        component: bro
    spec:
      hostNetwork: true
      containers:
      - name: bro
        image: {{ bro_image }}:{{ bro_version }}
        imagePullPolicy: IfNotPresent
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
              - NET_RAW
              - SYS_NICE
        resources:
          requests:
            cpu: {{ bro_cpu_request }}
        livenessProbe:
          exec:
            command:
            - bash
            - -c
            - systemctl status bro | grep running
          initialDelaySeconds: 20
          periodSeconds: 10
        volumeMounts:
        - name: broctl
          mountPath: {{ bro_container_path }}/etc/broctl.cfg
        - name: kafka
          mountPath: {{ bro_container_path }}/share/bro/site/kafka.bro
        - name: local
          mountPath: {{ bro_container_path }}/share/bro/site/local.bro
        - name: custom
          mountPath: {{ bro_container_path }}/share/bro/site/custom
        - name: networks
          mountPath: {{ bro_container_path }}/etc/networks.cfg
        - name: node
          mountPath: {{ bro_container_path }}/etc/node.cfg
        - name: scripts
          mountPath: {{ bro_container_path }}/share/bro/policy/custom-scripts
      volumes:
      - name: broctl
        hostPath:
          path: {{ bro_dir }}/{{ hostname }}-broctl.cfg
          type: File
      - name: kafka
        hostPath:
          path: {{ bro_dir }}/{{ hostname }}-kafka.bro
          type: File
      - name: local
        hostPath:
          path: {{ bro_dir }}/local.bro
          type: File
      - name: custom
        hostPath:
          path: {{ bro_dir }}/custom
          type: DirectoryOrCreate
      - name: networks
        hostPath:
          path: {{ bro_dir }}/{{ hostname }}-networks.cfg
          type: File
      - name: node
        hostPath:
          path: {{ bro_dir }}/{{ hostname }}-node.cfg
          type: File
      - name: scripts
        hostPath:
          path: {{ bro_scripts }}
          type: DirectoryOrCreate
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: bro
                operator: In
                values:
                - "true"
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: component
                operator: In
                values:
                - bro
            topologyKey: "kubernetes.io/hostname"

...
