apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: bro
  labels:
    component: bro
spec:
  replicas: 1
  selector:
    matchLabels:
     component: bro
  template:
    metadata:
      labels:
        component: bro
    spec:
      hostNetwork: true
      containers:
      - name: bro
        image: {{ bro_image }}:{{ bro_ver }}
        #command: ['sh','-c','broctl deploy; while [ "1" == "1" ]; do sleep 60; done;']
        securityContext:
          runAsUser: 0
          capabilities:
            add:
              - NET_ADMIN
              - NET_RAW
              - SYS_NICE
        resources:
          limits:
            cpu: 1000m
          requests:
            cpu: 100m
        volumeMounts:
        - name: bro-config
          mountPath: /etc/bro/node.cfg
          subPath: node.cfg
        - name: bro-config
          mountPath: /etc/bro/broctl.cfg
          subPath: broctl.cfg
        - name: bro-config
          mountPath: /etc/sysconfig/bro-scripts.env
          subPath: bro-scripts.env
        - name: bro-config
          mountPath: /etc/bro/networks.cfg
          subPath: networks.cfg
        - name: bro-config
          mountPath: /usr/share/bro/site/scripts/plugins/kafka.bro
          subPath: kafka.bro
      volumes:
      - name: bro-config
        configMap:
          name: bro-config
      nodeSelector:
        role: sensor
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: role
                operator: In
                values:
                - sensor
            topologyKey: "kubernetes.io/hostname"
