{% for loggers in range( bro_loggers ) %}
[logger-{{ loop.index }}]
type=logger
host=localhost
env_vars=fanout_id=0
{% endfor %}

[manager]
type=manager
host=localhost
env_vars=fanout_id=0

[proxy-1]
type=proxy
host=localhost
env_vars=fanout_id=0

[{{ bro_interface }}]
type=worker
host=localhost
{% if bro_workers > 1 %}
interface=af_packet::{{ bro_interface }}
lb_method=custom
lb_procs={{ bro_workers }}
{% else %}
interface={{ bro_interface }}
{% endif %}
# This must be unique for every AF_PACKET "process group"
env_vars=fanout_id={{ bro_fanout_id }}
