#######################################################################
## Docket virtual host config
## file: /etc/lighttpd/vhosts.d/docket.conf
##
## {{ ansible_managed }}
##

$SERVER["socket"] == "{{docket_listen_ip}}:{{docket_listen_port}}" {
  var.server_name = "{{ docket_web_server_name }}"
  server.name = server_name
  accesslog.filename = log_root + "/" + server.name + "/access.log"

  ssl.engine  = "{{ 'enable' if docket_tls == true else 'disable' }}"
  ssl.pemfile = "{{ docket_web_pemfile }}"

  include "conf.d/docket_scgi.conf"
}

##
#######################################################################
