#######################################################################
## file: /etc/lighttpd/conf.d/scgi_docket.conf
## {{ ansible_managed }}

server.modules += ( "mod_scgi" )
scgi.protocol = "uwsgi"
scgi.server = (
  "/" => ((
    "check-local" => "disable",
    "x-sendfile": true,
    "x-sendfile-docroot": ("{{docket_spool_dir}}")
    "socket": "{{ docket_uwsgi_socket }}"
  )),
)
