#  This file is part of systemd.

[Unit]
Description=Rock start script
Requires=network.target

{% if with_zookeeper %}
Wants=zookeeper
{% endif %}
{% if with_elasticsearch %}
Wants=elasticsearch
{% endif %}
{% if with_kafka %}
Wants=kafka
{% endif %}
{% if with_logstash %}
Wants=logstash
{% endif %}
{% if with_kibana %}
Wants=kibana
{% endif %}
{% if with_suricata %}
Wants=suricata
{% endif %}
{% if with_snort %}
Wants=snort
{% endif %}
{% if with_bro %}
Wants=bro
{% endif %}
{% if with_stenographer %}
Wants=stenographer
{% endif %}
{% if with_fsf %}
Wants=fsf
{% endif %}