---
###############################################################################
#      :::====  :::====  :::===== :::  === :::= === :::===  :::=======        #
#      :::  === :::  === :::      ::: ===  :::===== :::     ::: === ===       #
#      =======  ===  === ===      ======   ========  =====  === === ===       #
#      === ===  ===  === ===      === ===  === ====     === ===     ===       #
#      ===  ===  ======   ======= ===  === ===  === ======  ===     ===       #
###############################################################################
# This configuration file contains all the installation variables that
# affect the deployment of RockNSM. Take care when modifying these options.
# The defaults should be used unless you really know what you are doing!


###############################################################################
#                      Network Interface Configuration
###############################################################################
# The "rock_monifs:" listed below are the interfaces that are not detected
# as having an active IP address. Upon running the deploy script, these
# interfaces will be configured for monitoring (listening) operations.
# NOTE: management interfaces should *not* be listed here:

{% raw %}
rock_monifs: "{{ ansible_interfaces | difference(['lo', ansible_default_ipv4.interface | default('lo') ])| list }}"
{% endraw %}


###############################################################################
#                         Sensor Resource Configuration
###############################################################################
# Set hostname and fqdn in inventory file

# Set the number of CPUs assigned to Bro (Half of total, but no more than 8):
{% raw %}
bro_cpu: "{{ (ansible_processor_vcpus|int // 2) if (ansible_processor_vcpus|int <= 16) else 8 }}"
{% endraw %}

# Set the Elasticsearch cluster name:
es_cluster_name: {{ es_cluster_name }}

# Set the Elasticsearch cluster node name:
{% raw %}
es_node_name: "{{ ansible_hostname }}"
{% endraw %}

# Set the value of Elasticsearch memory (Half of total, but no more than 31GB):
{% raw %}
es_mem: "{{ (ansible_memtotal_mb|int // 1024 // 2) if (ansible_memtotal_mb|int // 1024) < 64 else 31 }}"
{% endraw %}


###############################################################################
#                       Installation Source Configuration
###############################################################################
# The primary installation variable defines the ROCK installation method:
# ONLINE:   used if the system may reach out to the internet
# OFFLINE:  used if the system may *NOT* reach out to the internet
# The default value "False" will deploy using OFFLINE (local) repos.
# A value of "True" will perform an install using ONLINE mirrors.

rock_online_install: {{ rock_online_install }}

# If the above "rock_online_install:" variable is set to "True" see the
# following (ONLINE) installation options:

# (ONLINE) Enable RockNSM testing repos:
rock_enable_testing: {{ rock_enable_testing }}
# (ONLINE) Set the URL for the EPEL repo mirror:
epel_baseurl: {{ epel_baseurl }}
# (ONLINE) Set the URL for the EPEL GPG key:
epel_gpgurl: {{ epel_gpgurl }}
# (ONLINE) Set the URL for the Elastic repo mirror:
elastic_baseurl: {{ elastic_baseurl }}
# (ONLINE) Set the URL for the Elastic GPG key:
elastic_gpgurl: {{ elastic_gpgurl }}
# (ONLINE) Set the URL for the RockNSM repo mirror:
rocknsm_baseurl: {{ rocknsm_baseurl }}
# (ONLINE) Set the URL for the RockNSM GPG key:
rocknsm_gpgurl: {{ rocknsm_gpgurl }}


# If the above "rock_online_install:" variable is set to "False" see the
# following (OFFLINE) installation options:

# (OFFLINE) Disable the creation of a local repo file:
rock_disable_offline_repo: {{ rock_disable_offline_repo }}
# (OFFLINE) Set the path for local repo if doing an OFFLINE installation:
rocknsm_local_baseurl: {{ rocknsm_local_baseurl }}
# (OFFLINE) Set to enable or disable GPG checking for local repos:
# 1 = enabled
# 0 = disabled
rock_offline_gpgcheck: {{ rock_offline_gpgcheck }}
# (OFFLINE) the git repo used to checkout customized ROCK scripts for Bro:
bro_rockscripts_repo: {{ bro_rockscripts_repo }}


###############################################################################
#                       Data Retention Configuration
###############################################################################

# Set the interval in which Elasticsearch indexes are closed:
elastic_close_interval: {{ elastic_close_interval }}

# Set the interval in which Elasticsearch indexes are deleted:
elastic_delete_interval: {{ elastic_delete_interval }}

# Set value for Kafka retention (in hours):
kafka_retention: {{ kafka_retention }}

# Set value for Bro log retention (in days):
bro_log_retention: {{ bro_log_retention }}

# Set value for Bro statistics log retention (in days):
bro_stats_retention: {{ bro_stats_retention }}

# Set how often logrotate will roll Suricata log (in days):
suricata_retention: {{ suricata_retention }}

# Set value for FSF log retention (in days):
fsf_retention: {{ fsf_retention }}

###############################################################################
#                              ROCK Component Options
###############################################################################

# The following list defines what components of RockNSM are
# installed, enabled, and the weight of disk quotas when running the deploy script:

rock_services:
  {{ rock_services | to_nice_yaml | indent(2, False) }}

###############################################################################
#                       XFS Quota Configuration
###############################################################################
# Set default mount point for Storage. if this can't be found or Quotas are
# not enabled on this mount the tasks will be skipped
default_mount: /data

#Overrides for quotas instead of using weights. Expected in bytes.
# bro_quota: 1073741824
# stenographer_quota: 1073741824
# suricata_quota: 1073741824
# elasticsearch_quota: 1073741824
# kafka_quota: 1073741824
# fsf_quota: 1073741824

###############################################################################
#                             NEXT STEP: Deployment
###############################################################################
# Once the settings in this config file have been finalized, the next step is
# to run "rock deploy":
#
#    sudo rock deploy
#
# For more information refer to the full documentation at: https://rocknsm.io
