---
# These are all the current variables that could affect
# the configuration of ROCKNSM. Take care when modifying
# these. The defaults should be used unless you really
# know what you are doing!

# Interfaces that should be configured for sensor applications.  Others (non-listed) may exist on your system and can be added below.
rock_monifs:
  {% for item in rock_monifs %}
  - {{ item }}
  {% endfor %}

# Secifies the hostname of the sensor
rock_hostname: {{ rock_hostname }}

# The FQDN
rock_fqdn: {{ rock_fqdn }}

# The compose files folder
rock_compose_files: {{ rock_compose_files }}

# The number of CPUs that bro will use
bro_cpu: {{ bro_cpu }}

# Name of elasticsearch cluster
es_cluster_name: {{ es_cluster_name }}

# Name of node in elasticsearch cluster
es_node_name: {{ es_node_name }}

# How much memory to use for elasticsearch
es_mem: {{ es_mem }}

# (optional) Personal configured key for pulled pork to pull latest sigs from snort.org
pulled_pork_oinkcode: {{ pulled_pork_oinkcode }}


########## Offline/Enterprise Network Options ##############

# configure if this system may reach out to the internet
# (configured repos below) during configuration
rock_online_install: {{ rock_online_install }}

# (online) the URL for the EPEL repo mirror
epel_baseurl: {{ epel_baseurl }}

# (online) the URL for the EPEL GPG key
epel_gpgurl: {{ epel_gpgurl }}

# (online) the URL for the elastic repo mirror
elastic_baseurl: {{ elastic_baseurl }}

# (online) the URL for the elastic GPG key
elastic_gpgurl: {{ elastic_gpgurl }}

# (online) the URL for the rocknsm repo mirror
rocknsm_baseurl: {{ rocknsm_baseurl }}

# (online) the URL for the rocknsm GPG key
rocknsm_gpgurl: {{ rocknsm_gpgurl }}

# (offline) the filesytem path for a local repo if doing an "offline" install
rocknsm_local_baseurl: {{ rocknsm_local_baseurl }}

# the git repo from which to checkout rocknsm customization scripts for bro
bro_rockscripts_repo: {{ bro_rockscripts_repo }}

# the git repo from which pulled pork should be installed
pulled_pork_repo: {{ pulled_pork_repo }}

#### Retention Configuration ####
elastic_close_interval: {{ elastic_close_interval }}
elastic_delete_interval: {{ elastic_delete_interval }}
kafka_retention: {{ kafka_retention }}
suricata_retention: {{ suricata_retention }}
bro_log_retention: {{ bro_log_retention }}
bro_stats_retention: {{ bro_stats_retention }}

### Docker install Selection ###
# Use Docker containers for RockNSM services when possible vs base metal install
containerized_install: {{ containerized_install }}

#### Elasticstack x-pack options ####
# If you have licensing for x-pack set variable to true.
xpack_license: false

### Advanced Feature Selection ######
# Don't flip these unless you know what you're doing
with_bro: {{ with_bro }}
with_docker: {{ with_docker }}
with_docket: {{ with_docket }}
with_elasticsearch: {{ with_elasticsearch }}
with_fsf: {{ with_fsf }}
with_haproxy: {{ with_haproxy }}
with_harbor: {{ with_harbor }}
with_kafka: {{ with_kafka }}
with_kibana: {{ with_kibana }}
with_logstash: {{ with_logstash }}
with_portainer: {{ with_portainer }}
with_pulledpork: {{ with_pulledpork }}
with_snort: {{ with_snort }}
with_stenographer: {{ with_stenographer }}
with_suricata: {{ with_suricata }}
with_zookeeper: {{ with_zookeeper }}
