%YAML 1.1
---
default-rule-path: "{{ suricata_var_dir }}/rules"
rule-files:
  - suricata.rules

af-packet:
{% for iface in rock_monifs %}
  - interface: {{ iface }}
    #threads: auto
    cluster-id: {{ 99 - loop.index0 }}
    cluster-type: cluster_flow
    defrag: yes
    use-mmap: yes
    mmap-locked: yes
    #rollover: yes
    tpacket-v3: yes
    use-emergency-flush: yes
{% endfor %}
default-log-dir: {{ suricata_data_dir }}
outputs:
  - fast:
      enabled: yes
      filename: fast.log
      append: yes
  - eve-log:
      enabled: yes
      filetype: regular
      filename: eve.json
      types:
        - alert:
            http: yes
            tls: yes
            ssh: yes
            smtp: yes
            tagged-packets: yes
            xff:
              enabled: no
        - files:
            force-magic: no
            force-hash: [sha1, md5]
        - stats:
            totals: yes
            threads: no
            deltas: no
        - flow
  - unified2-alert:
      enabled: yes
      filename: unified2.alert
      limit: 32mb
      sensor-id: 0
      payload: yes
