---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ hostname | hash('md5') }}-suricata
  labels:
    component: suricata
spec:
  replicas: 1
  selector:
    matchLabels:
      component: suricata
  template:
    metadata:
      labels:
        component: suricata
    spec:
      hostNetwork: true
      containers:
      - name: suricata
        image: {{ suricata_image }}:{{ suricata_version }}
        imagePullPolicy: IfNotPresent
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
              - NET_RAW
              - SYS_NICE
        env:
        - name: PODTYPE
          value: "SURICATA"
        resources:
          requests:
            cpu: {{ suricata_cpu_request }}
        volumeMounts:
        - name: filebeat
          mountPath: /etc/filebeat/filebeat.yml
        - name: suricata
          mountPath: /etc/suricata/suricata.yaml
        - name: custom
          mountPath: /etc/suricata/rules/custom
      volumes:
      - name: filebeat
        hostPath:
          path: {{ suricata_dir }}/{{ hostname }}-filebeat.yml
          type: File
      - name: suricata
        hostPath:
          path: {{ suricata_dir }}/{{ hostname }}-suricata.yaml
          type: File
      - name: custom
        hostPath:
          path: {{ suricata_dir }}/custom
          type: DirectoryOrCreate
      nodeSelector:
        suricata: "true"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: suricata
                operator: In
                values:
                - "true"
              - key: kubernetes.io/hostname
                operator: In
                values:
                - "{{ hostname }}"
              - key: role
                operator: In
                values:
                - "sensor"
                - "remote-sensor"
...
