apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: suricata
  labels:
    component: suricata
spec:
  replicas: 1
  selector:
    matchLabels:
     component: suricata
  template:
    metadata:
      labels:
        component: suricata
    spec:
      hostNetwork: true
      containers:
      - name: suricata
        image: {{ suricata_image }}:{{ suricata_ver }}
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
              - NET_RAW
              - SYS_NICE
        volumeMounts:
        - name: vars
          mountPath: /etc/icdm/
        - name: templates
          mountPath: /etc/icdm/templates/
        - name: configs
          mountPath: /etc/icdm/conf/
      volumes:
      - name: vars
        configMap:
          name: vars
      - name: configs
        configMap:
          name: suricata
          items:
          - key: suricata.yaml.conf
            path: suricata.yaml.conf
          - key: filebeat.yml.conf
            path: filebeat.yml.conf
      - name: templates
        configMap:
          name: suricata
          items:
          - key: suricata.yaml.tmpl
            path: suricata.yaml.tmpl
          - key: filebeat.yml.tmpl
            path: filebeat.yml.tmpl
      nodeSelector:
        role: sensor
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: role
                operator: In
                values:
                - sensor
            topologyKey: "kubernetes.io/hostname"
