---
# Set local system-specific facts
- name: Gather local service facts specific to each host
  set_fact:
    local_services: "{{ rock_services | selectattr('name', 'in', groups.keys()) | list }}"
    local_services: "{{ rock_services | selectattr('name', 'in', groups.keys()) | list | first | bool }}"
...
