apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: logstash
  labels:
    component: logstash
spec:
  serviceName: logstash
  replicas: 1
  selector:
    matchLabels:
     component: logstash
  template:
    metadata:
      labels:
        component: logstash
    spec:
      initContainers:
      - name: volume-permissions
        image: busybox
        command: ['sh','-c','chown -R {{ logstash_user }}:{{ logstash_group }} {{ logstash_path }}']
        securityContext:
          runAsUser: 0
        volumeMounts:
          - name: logstash
            mountPath: "{{ logstash_path }}/config/logstash.yml"
            subPath: logstash.yml
          - name: logstash
            mountPath: "{{ logstash_path }}/config/log4j2.properties"
            subPath: log4j2.properties
          - name: logstash
            mountPath: "{{ logstash_path }}/config/pipelines.yml"
            subPath: pipelines.yml
          - name: logstash
            mountPath: "{{ logstash_path }}/pipeline/kafka-bro.conf"
            subPath: kafka-bro.conf
          - name: logstash
            mountPath: "{{ logstash_path }}/pipeline/kafka-suricata.conf"
            subPath: kafka-suricata.conf
          - name: logstash
            mountPath: "{{ logstash_path }}/pipeline/kafka-fsf.conf"
            subPath: kafka-fsf.conf
          - name: data
            mountPath: "{{ logstash_path }}/data"
      containers:
      - name: logstash
        image: {{ logstash_image }}:{{ logstash_ver }}
        command: ["/usr/share/logstash/bin/logstash"]
        env:
        - name: LS_HOME
          value: "{{ logstash_path }}"
        resources:
          limits:
            cpu: 1000m
          requests:
            cpu: 100m
        volumeMounts:
          - name: logstash
            mountPath: "{{ logstash_path }}/config/logstash.yml"
            subPath: logstash.yml
          - name: logstash
            mountPath: "{{ logstash_path }}/config/log4j2.properties"
            subPath: log4j2.properties
          - name: logstash
            mountPath: "{{ logstash_path }}/config/pipelines.yml"
            subPath: pipelines.yml
          - name: logstash
            mountPath: "{{ logstash_path }}/pipeline/kafka-bro.conf"
            subPath: kafka-bro.conf
          - name: logstash
            mountPath: "{{ logstash_path }}/pipeline/kafka-suricata.conf"
            subPath: kafka-suricata.conf
          - name: logstash
            mountPath: "{{ logstash_path }}/pipeline/kafka-fsf.conf"
            subPath: kafka-fsf.conf
          - name: data
            mountPath: "{{ logstash_path }}/data"
      nodeSelector:
        role: server
      volumes:
        - name: logstash
          configMap:
            name: logstash
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: rbd
      resources:
        requests:
          storage: {{ logstash_pv_size }}Gi
