apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  labels:
    component: logstash
spec:
  replicas: {{ logstash_replicas }}
  selector:
    matchLabels:
      component: logstash
  template:
    metadata:
      labels:
        component: logstash
    spec:
      containers:
      - name: logstash
        image: {{ logstash_image }}:{{ elastic_version }}
        imagePullPolicy: IfNotPresent
        command: ["/bin/bash", "-c", "/usr/share/logstash/bin/logstash-plugin install file:///usr/share/logstash/plugins/tld.zip && /usr/share/logstash/bin/logstash"]
        env:
        - name: LS_HOME
          value: "{{ logstash_path }}"
        resources:
          requests:
            cpu: {{ logstash_cpu_request }}
        volumeMounts:
          - name: logstash
            mountPath: "{{ logstash_path }}/config/logstash.yml"
            subPath: logstash.yml
          - name: logstash
            mountPath: "{{ logstash_path }}/config/log4j2.properties"
            subPath: log4j2.properties
          - name: logstash
            mountPath: "{{ logstash_path }}/logstash-template.json"
            subPath: logstash-template.json
          - name: pipeline
            mountPath: "{{ logstash_path }}/pipeline"
          - name: plugins
            mountPath: "{{ logstash_path }}/plugins"
      nodeSelector:
        logstash: "true"
      volumes:
        - name: logstash
          configMap:
            name: logstash
        - name: pipeline
          configMap:
            name: logstash-pipeline
        - name: plugins
          hostPath:
            path: "{{ logstash_dir }}/plugins/"
            type: DirectoryOrCreate
