apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  labels:
    component: logstash
spec:
  replicas: 1
  selector:
    matchLabels:
      component: logstash
  template:
    metadata:
      labels:
        component: logstash
    spec:
      containers:
      - name: logstash
        image: {{ logstash_image }}:{{ logstash_ver }}
        command: ["/usr/share/logstash/bin/logstash"]
        env:
        - name: LS_HOME
          value: "{{ logstash_path }}"
        resources:
          limits:
            cpu: 1000m
          requests:
            cpu: 100m
        volumeMounts:
          - name: logstash
            mountPath: "{{ logstash_path }}/config/logstash.yml"
            subPath: logstash.yml
          - name: logstash
            mountPath: "{{ logstash_path }}/config/log4j2.properties"
            subPath: log4j2.properties
          - name: logstash
            mountPath: "{{ logstash_path }}/config/pipelines.yml"
            subPath: pipelines.yml
          - name: logstash
            mountPath: "{{ logstash_path }}/pipeline/kafka-bro.conf"
            subPath: kafka-bro.conf
          - name: logstash
            mountPath: "{{ logstash_path }}/pipeline/kafka-suricata.conf"
            subPath: kafka-suricata.conf
          - name: logstash
            mountPath: "{{ logstash_path }}/pipeline/kafka-fsf.conf"
            subPath: kafka-fsf.conf
      nodeSelector:
        logstash: "true"
      volumes:
        - name: logstash
          configMap:
            name: logstash
