kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ logstash_pv_logs }}
spec:
  storageClassName: gluster-heketi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ logstash_pv_size_mb }}Mi
