[Unit]
Description=packet capture to disk
After=syslog.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecReload=/bin/true
WorkingDirectory=/etc/stenographer

[Install]
WantedBy=multi-user.targe
