# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4

# Network nodes as generated through Ansible.
{{ ansible_controller_ip }}	{{ ansible_controller_hostname }}
