# Dockerfile for Dnsmasq

FROM centos/systemd

# Prepare the environment and get things up to date
# these rm commands... what are they for? #stole these rm commands from DP, not sure what it is for
RUN yum update -y; \
  yum install -y dnsmasq bind-utils; \
  rm -rf /var/cache/yum/*; \
  rm -f /lib/systemd/system/multi-user.target.wants/*;\
  rm -f /etc/systemd/system/*.wants/*;\
  rm -f /lib/systemd/system/local-fs.target.wants/*; \
  rm -f /lib/systemd/system/sockets.target.wants/*udev*; \
  rm -f /lib/systemd/system/sockets.target.wants/*initctl*; \
  rm -f /lib/systemd/system/basic.target.wants/*;\
  rm -f /lib/systemd/system/anaconda.target.wants/*; \
  systemctl enable dnsmasq;

RUN sed -i 's|#addn-hosts=/etc/banner_add_hosts|addn-hosts=/etc/dnsmasq.d/hosts|g' /etc/dnsmasq.conf;
RUN echo "#The syntax for hosts files is IP_address  hostname [optional additional hostnames with spaces separating them]" > /etc/dnsmasq.d/hosts

# Setup for Systemd #stole this from DP, not sure what it is for... added dnsmasq stuff
VOLUME [/sys/fs/cgroup, /etc/dnsmasq.d:/etc/dnsmasq.d]

EXPOSE {{ dnsmasq_port }}:{{ dnsmasq_port }}/udp

# For systemd? #stole this from DP, not sure what it is for
CMD ["/usr/sbin/init"]
