---
version: '2'
services:
  dnsmasq:
    privileged: true
    image: rocknsm/dnsmasq
    container_name: 'dnsmasq'
    ports:
      - {{ dnsmasq_port }}:{{ dnsmasq_port }}/udp
    environment:
      - container=docker
    volumes:
      - "/etc/dnsmasq.d:/etc/dnsmasq.d"
    cap_add:
      - NET_ADMIN
...
