---
version: '2'
services:
  dnsmasq:
    privileged: true
    image: rocknsm/dnsmasq
    container_name: 'dnsmasq'
    ports:
      - {{ dnsmasq_port }}:{{ dnsmasq_port }}
    environment:
      - container=docker
...
