[Unit]
 Description = HAProxy Container Service

 Wants    = multi-user.target
 Requires = docker.service

 [Service]
 Type = simple

 ExecStart = /usr/bin/docker-compose -f {{ rocknsm_dir }}/haproxy/haproxy-compose.yml up
 ExecStartPost = /bin/sh -c "/bin/sleep 3; /bin/ln -sf $(docker inspect --format='{{ '{{' }}.LogPath{{ '}}' }}' rock-haproxy) /var/log/haproxy/docker.log"
 ExecStop  = /usr/bin/docker-compose -f {{ rocknsm_dir }}/haproxy/haproxy-compose.yml down -v

 Restart=always
 RestartSec=3

 [Install]
 WantedBy = multi-user.target
