---

version: '2'
services:
  viewer:
    image: "{{ moloch_image}}:{{ moloch_tag }}"
    container_name: "{{ moloch_container_name }}-viewer"
    restart: "always"
    volumes:
      - "{{ moloch_dir }}/pcap:{{ moloch_pcap_dir }}"
      - "{{ moloch_dir }}/log:{{ moloch_logs_dir }}"
      - "{{ moloch_config_file }}:{{ moloch_data_dir }}/etc/config.ini"
    ports:
        - "{{ moloch_port }}:{{ moloch_port }}"
    command: >
      /bin/bash -c "{{ moloch_data_dir }}/db/db.pl {{ moloch_elastic_url }} init \
      && {{ moloch_data_dir }}/bin/moloch_add_user.sh {{ moloch_login }} "Admin User" {{ moloch_pass }} --admin \
      && {{ moloch_data_dir }}/bin/node {{ moloch_data_dir }}/viewer/viewer.js -c {{ moloch_data_dir }}/etc/config.ini >> {{ moloch_logs_dir }}/capture.log 2>&1"
    networks:
      - rocknsm_inside
      - rocknsm_outside

  capture:
    image: "{{ moloch_image}}:{{ moloch_tag }}"
    container_name: "{{ moloch_container_name }}-capture"
    restart: "always"
    volumes:
      - "/{{ moloch_dir }}/pcap:{{ moloch_pcap_dir }}"
      - "/{{ moloch_dir }}/log:{{ moloch_logs_dir }}"
      - "/{{ moloch_config_file }}:{{ moloch_data_dir }}/etc/config.ini"
    command: >
      /bin/bash -c "{{ moloch_data_dir }}/bin/moloch-capture -c {{ moloch_data_dir }}/etc/config.ini >> {{ moloch_logs_dir }}/capture.log >> 2>&1"
    networks:
      - rocknsm_inside

networks:
  rocknsm_inside:
    external: true
  rocknsm_outside:
    external: true

...
