FROM centos:latest

USER {{ rock_data_user }}
WORKDIR {{ moloch_data_dir }}
COPY etc/ etc/

# RUN yum -y update \
# && yum -y install epel-release
# RUN yum -y install net-tools libpng bzip2 gcc-c++ expect
# RUN yum -y localinstall https://files.molo.ch/builds/centos-7/moloch-{{ moloch_tag }}.x86_64.rpm
# RUN chmod {{ moloch_exec_mode }} etc/auto_config_moloch
# RUN etc/auto_config_moloch

RUN yum -y update \
 && yum -y install net-tools libpng bzip2 gcc-c++ expect \
 && yum -y install https://files.molo.ch/builds/centos-7/moloch-{{ moloch_tag }}.x86_64.rpm \
 && chmod {{ moloch_exec_mode }} etc/auto_config_moloch \
# Only use this line for nightly, due to install being in separate directory
 && cp -r /data/moloch-nightly/* {{ moloch_data_dir }} \
 && etc/auto_config_moloch
# && /bin/bash -c "bin/moloch_add_user.sh assessor "Admin User" password --admin"
# && db/db.pl {{ moloch_elastic_url }} init \
# && bin/moloch_add_user.sh assessor "Admin User" password --admin

EXPOSE {{ moloch_port }}
