apiVersion: v1
kind: Service
metadata:
  labels:
    component: moloch-viewer
  name: moloch-viewer
spec:
  ports:
  - name: "webgui"
    port: 80
    targetPort: {{ moloch_port }}
  selector:
    component: moloch-viewer
  type: LoadBalancer