---
- hosts: all
  vars_files:
    - "{{ rock_config }}"
  become: true
  roles:
    - common

- hosts: zookeeper
  vars_files:
    - "{{ rock_config }}"
  become: true
  roles:
    - role: zookeeper
      when: "'zookeeper' in installed_services"

- hosts: kafka
  vars_files:
    - "{{ rock_config }}"
  become: true
  roles:
    - role: kafka
      when: "'kafka' in installed_services"

- hosts: stenographer
  vars_files:
    - "{{ rock_config }}"
  become: true
  roles:
    - role: stenographer
      when: "'stenographer' in installed_services"
      stenographer_monitor_interfaces: "{{ rock_monifs }}"

- hosts: bro
  vars_files:
    - "{{ rock_config }}"
  become: true
  roles:
    - role: bro
      when: "'bro' in installed_services"

- hosts: suricata
  vars_files:
    - "{{ rock_config }}"
  become: true
  roles:
    - role: suricata
      when: "'suricata' in installed_services"

- hosts: fsf
  vars_files:
    - "{{ rock_config }}"
  become: true
  roles:
    - role: fsf
      when: "'fsf' in installed_services"

- hosts:
    - docket
    - kibana
  vars_files:
    - "{{ rock_config }}"
  become: true
  roles:
    - role: lighttpd
      when: "'lighttpd' in installed_services"

- hosts:
    - docket
    - stenographer
  vars_files:
    - "{{ rock_config }}"
  become: true
  roles:
    - role: docket
      when: "'docket' in installed_services"
      docket_enable: "{{'docket' in enabled_services | bool}}"

- hosts: elasticsearch
  vars_files:
    - "{{ rock_config }}"
  become: true
  roles:
    - role: elasticsearch
      when: "'elasticsearch' in installed_services"

- hosts: logstash
  vars_files:
    - "{{ rock_config }}"
  become: true
  roles:
    - role: logstash
      when: "'logstash' in installed_services"

- hosts: kibana
  vars_files:
    - "{{ rock_config }}"
  become: true
  roles:
    - role: kibana
      when: "'kibana' in installed_services"
