---

- hosts: all
#  vars:
#    rock_disable_offline_repo: true
  roles:

- sensor-common

- hosts: zookeeper
  roles:
    - role: zookeeper
      when: with_zookeeper | bool

- hosts: kafka
  roles:
    - role: kafka
      when: with_kafka | bool

- hosts: stenographer
  roles:
    - role: stenographer
      when: with_stenographer | bool
      stenographer_monitor_interfaces: "{{ rock_monifs }}"

- hosts: bro
  roles:
    - role: bro
      when: with_bro | bool

- hosts: suricata
  roles:
    - role: suricata
      when: with_suricata | bool

- hosts: fsf
  roles:
    - role: fsf
      when: with_fsf | bool

- hosts:
    - docket
    - kibana
  roles:
    - role: lighttpd
      when: with_lighttpd | bool

- hosts:
    - docket
    - stenographer
  roles:
    - role: docket
      when: with_docket | bool
      docket_enable: "{{enable_docket | bool}}"
#      ansible_cache: "~/ansible_cache/"

- hosts: elasticsearch
  roles:
    - role: elasticsearch
      when: with_elasticsearch | bool

- hosts: logstash
  roles:
    - role: logstash
      when: with_logstash | bool

- hosts: kibana
  roles:
    - role: kibana
      when: with_kibana | bool
