---
- hosts: all

  tasks:
  
  #- name: 'define traditional ethernet facts'
  #  set_fact:
  #   rock_monfs: '{% set rock_monfs = rock_monfs|default([]) + [hostvars[inventory_hostname]["ansible_"+ item]["device"]] %}{{ rock_monfs|list }}'
  #  when:
  #       - hostvars[inventory_hostname]['ansible_' + item]['ipv4'] is not defined
  #       - hostvars[inventory_hostname]['ansible_' + item]['type'] == 'ether' 
     #The line below is unnecessary, but I left it in for reference
     #   - hostvars[inventory_hostname]['ansible_' + item]['device'] != ansible_default_ipv4.interface       
  #  with_items:
  #    - '{{ hostvars[inventory_hostname]["ansible_interfaces"] }}'


  - name: 'Create config directory'
    file:
      state: directory
      owner: root
      group: root
      mode:  0755
      path: /etc/rocknsm
      
  - name: 'Render template'
    template:
      backup: yes
      src: rock_config.yml.j2
      dest: /etc/rocknsm/config.yml
      owner: root
      group: root
      mode: 0644
      
  - name: 'define traditional ethernet facts'
    set_fact:
     rock_monifs: '{% set rock_monifs = rock_monifs|default([]) + [item] %}{{ rock_monifs|list }}'
    when:
         - hostvars[inventory_hostname]['ansible_' + item]['ipv4'] is not defined
         - hostvars[inventory_hostname]['ansible_' + item]['type'] == 'ether'
    with_items:
       #ansible_interfaces separates words with '-', whereas the variables in hostvars are seperated with '_'
       #Make the replacement below to properly look up the interfaces in the hostvars dictionary
       - "{{ ansible_interfaces | regex_replace('-','_') }}"
