# site.yml is the overall playbook, but all it does is include the other playbooks that are part of the site. For more
# information about the structure see:
# http://docs.ansible.com/ansible/latest/playbooks_best_practices.html
# http://docs.ansible.com/ansible/latest/intro_inventory.html
# We follow the guidance to include naming conventions there.

---

- hosts: all

  tasks:

  - name: Apply override settings, if available
    include_vars: /etc/rocknsm/config.yml

  # When the system is run in the standalone configuration, this task will
  # add the localhost to both the servers and sensors groups
  - name: Check for local standalone installation option
    add_host:
      hostname: 127.0.0.1
      groups: servers,sensors
      ansible_connection: local
    when: standalone is defined and standalone

  - name: Check for local server installation option
    add_host:
      hostname: 127.0.0.1
      groups: servers
      ansible_connection: local
    when: serverlocal is defined and serverlocal

  - name: Check for local sensor installation option
    add_host:
      hostname: 127.0.0.1
      groups: sensors
      ansible_connection: local
    when: sensorlocal is defined and sensorlocal

- import_playbook: servers.yml
- import_playbook: sensors.yml
