## Setup Kafka output
@load Bro/Kafka/logs-to-kafka

redef Kafka::topic_name = "bro-raw";
redef Kafka::json_timestamps = JSON::TS_ISO8601;
redef Kafka::tag_json = T;

redef Kafka::kafka_conf = table(
  ["metadata.broker.list"] = "{{ kafka_fqdn | default("kafka.default.svc.cluster.local",true) }}:{{ kafka_port | default("9092",true) }}"
);
