# List of local networks in CIDR notation, optionally followed by a
# descriptive tag.
# For example, "10.0.0.0/8" or "fe80::/64" are valid prefixes.

{% for net in ( home_net | default(['10.0.0.0/8','172.16.0.0/12','192.168.0.0/16'],true) ) %}
{{- net }}
{% endfor %}
